[Unit]
Description=Homelab Podman volume backup
Requires=mnt-backup.mount
After=mnt-backup.mount

[Service]
Type=oneshot
ExecStart=/usr/local/bin/homelab-backup.sh
