[Unit]
Description=netboot.xyz container
Requires=netbootxyz-config.volume netbootxyz-assets.volume homelab.network
After=network-online.target netbootxyz-config.volume netbootxyz-assets.volume homelab.network

[Container]
Environment="TZ=America/Los_Angeles"
Environment="TFTPD_OPTS=--tftp-single-port"
Image=netbootxyz.image
ContainerName=netbootxyz
PublishPort=3001:3000
PublishPort=8069:69/udp
PublishPort=8082:80
Volume=netbootxyz-config:/config
Volume=netbootxyz-assets:/assets
Network=homelab

[Service]
Restart=always

[Install]
WantedBy=default.target
