[Unit]
Description=nginx container
Requires=nginx-data.volume nginx-letsencrypt.volume
After=nginx-data.volume nginx-letsencrypt.volume

[Container]
Environment="TZ=America/Los_Angeles"
Image=nginx.image
ContainerName=nginx
PublishPort=8080:80
PublishPort=8443:443
PublishPort=8081:81
Volume=nginx-data:/data
Volume=nginx-letsencrypt:/etc/letsencrypt

[Service]
Restart=always

[Install]
WantedBy=default.target
