[Unit]
Description=netboot.xyz container
Requires=netbootxyz-config.volume netbootxyz-assets.volume
After=network-online.target netbootxyz-config.volume netbootxyz-assets.volume

[Container]
Environment="TZ=America/Los_Angeles"
Environment="WEB_APP_PORT=3001"
Environment="NGINX_PORT=8082"
Image=netbootxyz.image
ContainerName=netbootxyz
Network=host
Volume=netbootxyz-config:/config
Volume=netbootxyz-assets:/assets

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
